// http://haml.info
// simple form that posts to "/submit"
%h3 Edit Skeleton
- if @errors
	- @errors.each do |attr, msg|
		%p
			= attr
			= msg
%form(action="/skeletons/#{@skeleton.id}" method="POST")
	%input(type="text" name="skeleton[name]" value="#{@skeleton.name}" id="skeleton_name")
	%input(input type="submit" value="Submit")

%form(action="/skeletons/#{@skeleton.id}/destroy" method="POST")
	%input(input type="submit" value="Destroy")
