<!--/ analog to rails, yield renders the templates into the global layout -->
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Sinatra's Skeleton</title>
    <meta/>
    <!--/ Sprockets: stylesheets compiled into app.css -->
    <link href="/assets/app.css" rel="stylesheet">
    <!--/ purescss.io -->
    <link crossorigin="anonymous" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" rel="stylesheet">
    <link href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css" rel="stylesheet">
    <!--/ Sprockets: javascripts compiled into app.js -->
    <script src="/assets/app.js"></script>
  </head>
  <body class="<%= @controller_name %>">
    <%= erb :nav, layout: false %>
    <div id="main">
      <div id="flash_messages">
        <!--/ iterates through the flash hash setting the type (ex: :error, :success, :warning, etc) as part of the div class -->
        <% flash.keys.each do |type| %>
          <div class="alert alert-<%= type %>" role="alert">
            <!--/ displays the flash message -->
            <%= flash[type] %>
          </div>
        <% end %>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
